<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory Management | Inventory | E-Commerce</title>
    <link rel="stylesheet" href="/static/inventory_manage.css">
</head>
<body>
    
      {% block content %}
    <!-- Inventory content will go here -->
        
          
        {% include 'inventory/navbar.html' %}

        <h1>Inventory Management</h1>
        <p>Manage your inventory here. You can add, update, or delete products.</p>

         

        <br><br>
        <button> <a href="{% url 'add_product_request' %}">Add new product</a> </button>

        <br><br>
        {% if products %}
        <table>
            <tr>
                <td>Product Name</td>
                <td>Price</td>
                <td>Stock</td>
                <td>Description</td>
                <td>Image</td>
                <td>Actions</td>
            </tr>

            
            {% for product in products %}
            <tr>
                
                <td>{{ product.product_name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.stock }}</td>
                <td>{{ product.description }}</td>
                <td><img src="/media/{{product.images}}"  width="100"></td>
               

                <td>
                    <a href="{% url 'update_product_request' product.product_id %}">Edit</a> |
                    <a href="{% url 'delete_product_request' product.product_id %}">Delete</a> |
                    <a href="{% url 'product_details' product.product_id %}">View Details</a>
                </td>
               
            </tr>
             {% endfor %}
        </table>

        {% else %}
            <p>No products available.</p>
        {% endif %}
        
    {% endblock %}

</body>
</html>