<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile | E-Commerce</title>
    <link rel="stylesheet" href="/static/profile.css">
</head>
<body>

    {% include 'user/navbar.html' %}

    <div class="container">
    {% if user_data %}
    <form method="post">
        {% csrf_token %}

        <h1>Profile Information</h1>
        <table>
            <tr>
                <th hidden>User ID</th>
                <th>User Name</th>
                <th>User Email</th>
                <th>User Mobile</th>
            </tr>
            <tr>
                <td hidden><input type="text" name="user_id" value ="{{ user_data.user_id }}" ></td>
                <td><input type="text" name="user_name" value="{{ user_data.user_name }}"></td>
                <td><input type="email" name="user_email" value="{{ user_data.user_email }}"></td>
                <td><input type="text" name="user_mobile" value="{{ user_data.user_mobile }}"></td>
            </tr>
        </table>

        <h2>Other Details</h2>
        <table>
            <tr>
                <td>Address</td>
                <td>City</td>
                <td>State</td>
                <td>Country</td>
                <td>Zipcode</td>
            </tr>
            <tr>
                <td><input type="text" name="address" value="{{user_data.address}}"></td>
                <td><input type="text" name="city" value="{{user_data.city}}"></td>
                <td><input type="text" name="state" value="{{user_data.state}}"></td>
                <td><input type="text" name="country" value="{{user_data.country}}"></td>
                <td><input type="text" name="zipcode" value="{{user_data.zipcode}}"></td>
            </tr>
        </table>

        <button type="submit">Update</button>
        <a href="{% url 'index' %}">Back</a>
    </form>
    {% else %}
        <p>Please login <a href="{% url 'user_signin' %}">Login here</a></p>
    {% endif %}

    {% if error %}
        <script>alert("Failed : Please try again!")</script>
    {% endif %}
    </div>

</body>
</html>
